<!-- <!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
</form> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Readdit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body>

<div class="p-3 mb-2 bg-warning text-dark">
        <div style="background:transparent !important" class="jumbotron text-center">
                <SPAN STYLE="color: red; font-size: 30pt">R</span>
                <SPAN STYLE="color: orange; font-size: 30pt">e</span>
                <SPAN STYLE="color: yellowgreen; font-size: 30pt">a</span>
                <SPAN STYLE="color: green; font-size: 30pt">d</span>
                <SPAN STYLE="color: blue; font-size: 30pt">d</span>
                <SPAN STYLE="color: indigo; font-size: 30pt">-</span>
                <SPAN STYLE="color: violet; font-size: 30pt">I</span>
                <SPAN STYLE="color: black; font-size: 30pt">T</span>
                <p class="text-primary">Raising the bar for literacy one image at a time.</p> 
              </div >
</div>   
  
<div class="container">
  <div class="row">
    <div class="col-sm-10">
        <!-- button -->
      <p><title>Begin your Story</title>
        <h1>↓ Begin your Story</h1>
        <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form></p> 
    </div>
    <div class="col-sm-2">
            <h2>Team</h2>
            <ul class="w3-ul w3-card-4">
              <li class="w3-bar">
                <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
                <!-- <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px"> -->
                <div class="w3-bar-item">
                  <span class="w3-large">Shan Jiang</span><br>
                  <span>Freshman, CS</span>
                </div>
              </li>
          
              <li class="w3-bar">
                <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
                <!-- <img src="img_avatar5.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px"> -->
                <div class="w3-bar-item">
                  <span class="w3-large">Elton Lin</span><br>
                  <span>Freshman, CS</span>
                </div>
              </li>
          
              <li class="w3-bar">
                <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
                <!-- <img src="img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px"> -->
                <div class="w3-bar-item">
                  <span class="w3-large">Sim Sandhu</span><br>
                  <span>Freshman, CS</span>
                </div>
              </li>

              <li class="w3-bar">
                    <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
                    <!-- <img src="img_avatar5.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px"> -->
                    <div class="w3-bar-item">
                      <span class="w3-large">Ashwin Sreevatsa<br>
                      <span>Freshman, CS</span>
                    </div>
                  </li>
            </ul>   
    </div>
  </div>
</div>

    <div class="row">
            <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://eecs280staff.github.io/eecs280.org/img/fairlyodd.jpg" alt="logo" height="404" width="577">
            </a>
            </div>
        </div>

</body>
</html>

